<div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Numéro de commandes</th>
          <th>Articles</th>
          <th>Statut</th>
          <th>Prix Total</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td><a href="pages/examples/invoice.html">{{dashb.id}}</a></td>
          <td>{{dashb.produit}}</td>
          <td><span class="badge badge-success">Livré</span></td>
          <td>
            <div class="sparkbar" data-color="#00a65a" data-height="20">7030154987F CFA</div>
          </td>
        </tr>
        <tr>
          <td><a href="pages/examples/invoice.html">OR1848</a></td>
          <td>Samsung Smart TV</td>
          <td><span class="badge badge-warning">En cours</span></td>
          <td>
            <div class="sparkbar" data-color="#f39c12" data-height="20">8030054987F CFA</div>
          </td>
        </tr>
        <tr>
          <td><a href="pages/examples/invoice.html">OR7429</a></td>
          <td>iPhone 6 Plus</td>
          <td><span class="badge badge-danger">Livré</span></td>
          <td>
            <div class="sparkbar" data-color="#f56954" data-height="20">9030054987F CFA</div>
          </td>
        </tr>
        <tr>
          <td><a href="pages/examples/invoice.html">OR7429</a></td>
          <td>Samsung TV</td>
          <td><span class="badge badge-info">En cours</span></td>
          <td>
            <div class="sparkbar" data-color="#00c0ef" data-height="20">3005498799F CFA</div>
          </td>
        </tr>
        <tr>
          <td><a href="pages/examples/invoice.html">OR1848</a></td>
          <td>Samsung S8 </td>
          <td><span class="badge badge-warning">Livré</span></td>
          <td>
            <div class="sparkbar" data-color="#f39c12" data-height="20">6130054987F CFA</div>
          </td>
        </tr>
        <tr>
          <td><a href="pages/examples/invoice.html">OR7429</a></td>
          <td>Tecno Spark</td>
          <td><span class="badge badge-danger">En cours</span></td>
          <td>
            <div class="sparkbar" data-color="#f56954" data-height="20">8330054987F CFA</div>
          </td>
        </tr>
        <tr>
          <td><a href="pages/examples/invoice.html">OR9842</a></td>
          <td>Smart Led</td>
          <td><span class="badge badge-success">Livré</span></td>
          <td>
            <div class="sparkbar" data-color="#00a65a" data-height="20">6330054987F CFA</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>

